{% extends 'base.html' %}

{% block  title %}My Tasks{% endblock  %}

{% block content %}
<form method="GET" class="d-flex justify-content-center align-items-center mb-4">
    <div class="form-outline flex-fill">
        <input type="text" id="search" class="form-control" name="search-area" value="{{search_input}}" placeholder="Task..."/>
    </div>
    <input class="btn btn-info ms-2" type="submit" value="Search"/>
    
</form>
<table class="table table-striped">
<tbody>
<div class="overflow-auto">
{% for task in tasks %}
<tr>
    <li class="list-group-item d-flex align-items-center border-0 mb-2 rounded"
    style="background-color: #f4f6f7;">
        <td class="card-text link-unstyled position-relative">
            {{task}}
            <a href="{% url 'base:task_detail' task.id %}" class=" stretched-link"> </a>
        </td>
        <th><a href="{% url 'base:task_update' task.id %}" > <i class="bi bi-pencil-fill text-info m-3"></i></a> </th>
        <td><a href="{% url 'base:task_delete' task.id %}"> <i class="bi bi-trash-fill text-danger m-3"></i></a> </td>
    </li>
    {% empty %}
        <p>No items in list</p>
</tr>
{% endfor %}
</div>
</tbody>
</table>
<div class=" text-end p-3">
<a href="{% url 'base:task_create'%}" class="btn btn-warning ms-2" >Add Task </a>
</div>
{% endblock content %}