{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block  title %}Form{% endblock  %}

{% block content %}
{% load user_filters %}


<h3 class=" mt-3 mb-4 pb-3 text-center"> Task Create </h3>
<div class="overflow-auto">
<form method="POST" class="blueForms" action="">
    <div class="form-outline">
        {% csrf_token %}
        <ul>
        {% for field in form %}
            <p>
            <small id="id_text-help" class="form-text text-muted">
                {{field.help_text|safe}}
            </small>   
            {{ field }}
            </p>
        {% endfor %}
        </ul>
        <div class=" text-end p-3">
        <input type="submit" class="btn btn-info ms-2" value="Submit">
        </div>
    </div>
</form>
</div>
{% endblock content %}